body {
  margin: 0;
  font-family: Montserrat;
}

.gradient-background {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 50px 0;
}

.main-content {
  width: 240px;
  padding: 37px 25px 50px;
  border-radius: 10px;
}

h1 {
  margin-top: 10px;
}

p {
  margin: 2px;
  font-size: 16px;
}

/* TODAYS WEATHER */
.todays-weather {
  margin-top: 25%;
  font-weight: bold;
  font-size: 20px;
}

.todays-weather-small {
  margin-left: 8px;
}

/* FIVE DAY FORECAST */
.weekdays-container {
  display: flex;
  justify-content: space-between;
  padding-top: 6px;
  padding-bottom: 7px;
  font-size: 16px;
  border-bottom: 1.5px dashed;
}

.five-day-forecast :last-child {
  border-bottom: none;
}

@media (min-width: 668px) {
  .weather-image {
    width: 110px;
  }
}
